@font-face {
  font-family: 'TwoDot';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}

@font-face {
  font-family: 'TwoDot-Black';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots-Black.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots-Black.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots-Black.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Black.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Black.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}

@font-face {
  font-family: 'TwoDot-BlackItalic';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots-BlackItalic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots-BlackItalic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots-BlackItalic.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-BlackItalic.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-BlackItalic.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}

@font-face {
  font-family: 'TwoDot-Bold';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots-Bold.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots-Bold.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots-Bold.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Bold.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Bold.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}

@font-face {
  font-family: 'TwoDot-BoldItalic';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots-BoldItalic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots-BoldItalic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots-BoldItalic.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-BoldItalic.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-BoldItalic.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}

@font-face {
  font-family: 'TwoDot-Italic';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('../fonts/two-dot/TwoDots-Italic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('../fonts/two-dot/TwoDots-Italic.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('../fonts/two-dot/TwoDots-Italic.woff2?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Italic.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('../fonts/two-dot/TwoDots-Italic.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}