@font-face {
  font-family: 'PizzaPressOrnaments';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('PizzaPress-Ornaments.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('PizzaPress-Ornaments.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('PizzaPress-Ornaments.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('PizzaPress-Ornaments.svg?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#PizzaPress-Ornaments') format('svg'), url('PizzaPress-Ornaments.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}