@font-face {
  font-family: 'PizzaPressInline';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('PizzaPress-Inline.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ');
  src: url('PizzaPress-Inline.eot?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#iefix') format('embedded-opentype'), url('PizzaPress-Inline.woff?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('woff'), url('PizzaPress-Inline.svg?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ#PizzaPress-Inline') format('svg'), url('PizzaPress-Inline.ttf?orgId=00DF00000006uSq&orgId=00Dc0000003l4aJ&orgId=00D3F000000DTaQ') format('truetype');
}