div {
    display: flex;
}

.no-wrap {
  text-wrap: nowrap;
}

.input-product-quantity {
  min-height: var(--dxp-c-number-input-height, 2.5rem);
  width: var(--dxp-c-number-input-width, 5.5rem);
}

.input-store-number {
  min-height: var(--dxp-c-number-input-height, 2.5rem);
  width: 9rem;
}

@media only screen and (max-width: 48em) {
  div {
    flex-direction: column;
    align-items: center;
  }
}